<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/header :: header">
    <title>Home</title>
</head>

<body>
	  <div th:replace="fragments/teacher-navbar :: home-navbar">
	  </div>

      <main role="main" class="container mt-5">
          <div class="jumbotron">
              <h1>Online Classroom</h1>
              <br />
              <p class="lead">Create a classroom for any subject you need and students will be able to join, participate, and interact in the virtual classroom environment!</p>
			  <br/>
              <h3>Instructions</h3>

              <p class="lead">Using the options at the top, you have the option to create new classes or manage ones that you have already created. Afterwards you can access the following menu options:</p>
              <br/>
              <h4>Lessons</h4>
              <p class="lead">Here you can view  a list of all the lessons in the classroom. As a teacher in the classroom, you also have the option to post new lessons for everyone to see</p>
              <br/>
              <h4>Announcements</h4>
              <p class="lead">Classroom announcements will be posted here for everyone to see. These may include exams, assignments, due dates, changes in schedule, or any important events coming up for the class.</p>
              <br/>
              <h4>Assignments</h4>
              <p class="lead">Assignments will be posted here for students to read over and respond to. Teachers will be able to see a list of all the assignments and create new ones if necessary</p>
              <br/>
              <h4>Grades</h4>
              <p class="lead">Grades for exams and assignments will be posted for students to go over in order to keep track of their progress</p>
              <br/>
              <h4>Members</h4>
              <p class="lead">A list of all members in the classroom, including teachers and students </p>
              
          </div>
      </main>

</body>
</html>